.card {
  border: none;
}

.my-card-body {
  border: solid 2px rgb(245, 72, 72);
  border-radius: 5px;
}

.category-title {
  border-bottom: none;
  margin-bottom: 0px;
  display: flex;
  justify-content: end;
}

hr{
  border: 1px solid #0143a3;
  background-color: #0143a3;
}