<app-nav-bar 
    (displayContent)="displayContent = $event"
    (categorySelected)="categorySelected = $event"
    [loginUser]="loginUser"
></app-nav-bar>


<div class="container mt-2 bg-white" style="border-radius: 15px; border: 1px solid #0143a3;">
    <ng-container *ngIf="displayContent === 'list'">
        <div>
            <app-product-list [categorySelected]=categorySelected ></app-product-list>
        </div>
    </ng-container>
    <ng-container *ngIf="displayContent === 'cart'">
        <div >
            <app-cart-main></app-cart-main>
        </div>
    </ng-container>
</div>


