<div class="row alert alert-success">
  <div class="col-12">
    <h2 class="text-center">
      PRODUCTS LIST
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-4 card" *ngFor="let item of products">
    <div class="card-body">
      <div class="my-card-body">
        <div class="alert alert-primary text-center" role="alert" [style.height]="'80px'">
          <h4 class="alert-heading my-item-name">{{item.name}}</h4>
        </div>
        <div class="text-center">
          <img src="{{item.imgUrl}}" alt="{{item.name}}" height="120px">
        </div>
        <hr>
        <h5 class="text-center my-3">Price: {{item.price | vndCurrency}}</h5>
        <app-select-quantity [product]="item"></app-select-quantity>
        
      </div>
    </div>
  </div>
</div>
