<div class="row alert alert-success">
  <div class="col-12">
    <h2 class="text-center">
      PRODUCTS LIST
    </h2>
  </div>
</div>
<div class="row mb-3">
  <button class="btn btn-info mx-2" (click)="onFilterProduct('p')">Phone</button>
  <button class="btn btn-info mx-2" (click)="onFilterProduct('l')">Laptop</button>
  <button class="btn btn-info mx-2" (click)="onFilterProduct('t')">Tablet</button>
  <button class="btn btn-info mx-2" (click)="onFilterProduct('sw')">Smart Watch</button>
  <button class="btn btn-info mx-2" (click)="onFilterProduct('all')">All Product</button>
</div>

<div class="row">
  <div class="col-4 card" *ngFor="let item of products">
    <div class="card-body">
      <div class="my-card-body">
        <div class="alert alert-primary text-center" role="alert" [style.height]="'80px'">
          <h4 class="alert-heading my-item-name" (click)="onSelectItem(item, content)">{{item.name}}</h4>
        </div>
        <div class="text-center">
          <img src="{{item.imgUrl}}" alt="{{item.name}}" height="120px">
        </div>
        <hr>
        <h5 class="text-center my-3">Price: {{item.price | currency:'VND'}}</h5>
        <!-- component? -->
        <app-select-quantity [product]="item"></app-select-quantity>
        <!-- <div class="row px-3 pb-2">
          <div class="col-7">
            <input type="number" min="1" class="form-control w-100" value="1" #qty>
          </div>
          <div class="col-5">
            <button class="btn btn-danger w-100" (click)="onAddItem(item, qty.value)">Add</button>
          </div>
        </div> -->
        
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <app-product-detail [selectedItem]="selectedItem"></app-product-detail>
    <div class="text-center">
      <button type="button" class="btn btn-info px-4" (click)="modal.dismiss()">Close</button>
    </div>
  </div>
</ng-template>
