<div class="row my-2 pb-2">
  <div class="col-7">
    <div class="row justify-content-center mt-1 ml-3">
      <button type="button" class="my-icons" (click)="onChangeQty(false)" 
        [disabled]="quantity < 2" >
        <fa-icon [icon]="iconBack"></fa-icon>
      </button>
      <h5 class="mb-0">{{ quantity }}</h5>
      <button type="button" class="my-icons" (click)="onChangeQty(true)">
        <fa-icon [icon]="iconForward"></fa-icon>
      </button>
    </div>
  </div>
  <div class="col-5">
    <button class="btn btn-danger w-75" (click)="onAddItem()">Add</button>
  </div>
</div>
