<div class="row justify-content-center">
  <div class="card">
    <div class="card-body">
      <div class="alert alert-primary text-center" role="alert">
        <h2>{{selectedItem.name}}</h2>
      </div>
      <ul class="list-group text-center">
        <div class="list-group-item"><img class="w-100" src="{{selectedItem.imgUrl}}" alt="{{selectedItem.name}}"></div>
        <h4 class="list-group-item">Price: {{selectedItem.price | currency:'VND'}}</h4>
        <h4 class="list-group-item">
          Select quantity:
          <input type="number" min="0" class="form-control w-25 d-inline" [(ngModel)]="selectedQuantity">
        </h4>

        <div class="list-group-item">
          <div class="row justify-content-between">
            <h4>(Total = {{selectedQuantity * selectedItem.price | currency:'VND'}})</h4>
            <div>
                <button type="button" class="btn btn-danger" (click)="onAddToList()">
                    <fa-icon [icon]="cartIcon"></fa-icon>
                    Add to List
                </button>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
