<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row"
  style="background: #0143a3; height: 100px;">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link ml-3" (click)="onSelectCategory(null)">
          <div class="my-icons">
            <fa-icon [icon]="homeIcon"></fa-icon>
          </div>
          <strong>HOME</strong>
        </a>
      </li>
      <li class="nav-item">
        <div #myDrop="ngbDropdown" ngbDropdown class="d-inline-block ml-3">
          <a class="nav-link" id="cat-select" (mouseenter)="$event.stopPropagation(); myDrop.open();">
            <div class="my-icons">
              <fa-icon [icon]="categoryIcon"></fa-icon>
            </div>
            <strong>CATEGORY</strong>
          </a>
          <div ngbDropdownMenu aria-labelledby="cat-select" (mouseleave)="$event.stopPropagation(); myDrop.close();">
            <button ngbDropdownItem (click)="onSelectCategory('Phone')">Phone</button>
            <button ngbDropdownItem (click)="onSelectCategory('Tablet')">Tablet</button>
            <button ngbDropdownItem (click)="onSelectCategory('Laptop')">Laptop</button>
            <button ngbDropdownItem (click)="onSelectCategory('SmartWatch')">SmartWatch</button>
          </div>
        </div>
      </li>
      
    </ul>
  </div>
  <ul class="social-buttons navbar-nav flex-row ml-md-auto d-none d-md-flex align-items-center">
    <ng-container *ngIf="numberOfItems > 0">
      <li class="nav-item">
        <div #cartDrop="ngbDropdown" ngbDropdown class="d-inline-block mx-3" id="cart-area">
          <!-- Dropdown cart button -->
          <div>
            <a class="nav-link" id="cart-detail" (mouseenter)="$event.stopPropagation(); cartDrop.open();">
              <div id="my-cart-icon">
                <fa-icon [icon]="cartIcon"></fa-icon>
              <span class="ml-2"> <strong>({{ numberOfItems }})</strong></span>
              </div>
            </a>
            <!-- Dropdown cart menu -->
            <div ngbDropdownMenu aria-labelledby="cart-detail"
              (mouseleave)="$event.stopPropagation(); cartDrop.close();">
              <ng-container *ngFor="let item of cart.items">
                <div class="row justify-content-between">
                  <p class="font-weight-bold text-dark px-4">{{item.product.name | shortenText}}</p>
                  <div class="col-3">
                    <div class="row">
                      <a type="button" (click)="onChangeQuantity(item, false)">
                        <fa-icon [icon]="minusIcon"></fa-icon>
                      </a>
                      <p class="font-weight-bold text-danger px-2">{{item.quantity}}</p>
                      <a type="button" (click)="onChangeQuantity(item, true)">
                        <fa-icon [icon]="plusIcon"></fa-icon>
                      </a>
                    </div>
                  </div>
                </div>
              </ng-container>
              <button ngbDropdownItem (click)="onSelectCart()"
                class="font-weight-bold text-danger text-center"><u>Click
                  for more
                  detail...</u></button>
            </div>
            <span class="badge badge-warning mt-2 py-2" style="font-size: 100%; border-radius: 5px;">
              {{sumPrice | vndCurrency}}
            </span>
          </div>
        </div>
      </li>
    </ng-container>
    <ng-container *ngIf="!loginUser; else hasLoggedin">
      <a class="nav-link" routerLinkActive="active" routerLink="/login"><strong>LOGIN</strong></a>
    </ng-container>
  </ul>
</header>

<ng-template #hasLoggedin>
  <li class="nav-item">
    <a class="h4 pt-2 ml-3" id="welcome-user">
      <strong>WELCOME <span class="text-warning">{{loginUser.username}}</span></strong>
      <ng-container *ngIf="loginUser.isAdmin">
        <a class="nav-link mt-2" style="cursor: pointer;" routerLink="/admin">Go to Admin panel</a>
      </ng-container>
    </a><br>
    <a class="badge badge-warning float-right mt-2 mr-3" style="cursor: pointer;" (click)="onLogOut()"><strong>LOGOUT</strong></a>
  </li>
</ng-template>
