<br>
<div class="my-container mt-2">
  <h2 class="text-center">CREATE NEW PRODUCT</h2>
<div class="form-content">
  <div class="row">
    <div class="col-md-8 offset-2">
      <hr>
      <form (ngSubmit)="onCreateProduct()" [formGroup]="createProductForm">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label class="h5 form-control-label">Category</label>
              <select class="form-control" formControlName="category">
                <option *ngFor="let category of categoryList" [value]="category">{{category}}</option>
              </select>
              <small *ngIf="createProductForm.get('category').invalid && createProductForm.get('category').touched"
                class="text-white">This field is required</small>
            </div>
            <div class="form-group">
              <label class="h5 form-control-label">Name</label>
              <input type="text" class="form-control" formControlName="name">
              <small *ngIf="createProductForm.get('name').invalid && createProductForm.get('name').touched"
                class="text-white">This field is required</small>
            </div>
            <div class="form-group">
              <label class="h5 form-control-label">Image Url</label>
              <input type="text" class="form-control" formControlName="imgUrl">
              <small *ngIf="createProductForm.get('imgUrl').invalid && createProductForm.get('imgUrl').touched"
                class="text-white">This field is required</small>
            </div>
            <div class="form-group">
              <label class="h5 form-control-label">Price</label>
              <input type="number" class="form-control" formControlName="price">
              <small *ngIf="createProductForm.get('price').invalid && createProductForm.get('price').touched"
                class="text-white">Price must greater than 1.000</small>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <button type="submit" class="btn bg-warning">Create new product</button>
          <button type="reset" class="btn bg-danger text-white mx-4">Reset</button><br>
          <button type="button" class="btn bg-success text-white" routerLink="/admin">Back to Admin Panel</button><br>
        </div>
        <hr>
      </form>
    </div>
  </div>
</div>
</div>


