<div class="row alert alert-success">
  <div class="col-12">
    <h2 class="text-center">
      CART'S LIST ITEM
    </h2>
  </div>
</div>
<ng-container *ngIf="cart.items.length !== 0; else noProduct">
  <ul class="list-group" *ngFor="let item of cart.items; let i = index">
    <h3 class="text-primary list-group-item">
      <strong class="text-info">{{i+1}}</strong>: --{{item.product.name}}--:  
      {{item.product.price | currency:'VND'}}
      <strong class="text-danger">x</strong> ({{item.quantity}})
      = {{(item.quantity * item.product.price) | currency:'VND'}}
      <span class="my-remove-item" (click)="onRemoveItem(item)">Remove</span>
    </h3>
</ul>
<h2>Total: {{ totalPrice | currency: 'VND' }}</h2>
</ng-container>

<ng-template #noProduct>
  <div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">There's no product in the list!</h4>
  </div>
</ng-template>

<button type="button" class="btn btn-info mt-4" routerLink="/product-list">Back to list</button>
<br>
