<div class="container mt-3">
  <button type="button" class="btn btn-outline-info" routerLink="/create-product">Create new product</button>
  <hr>
  <button type="button" class="btn btn-outline-info" (click)="onToggleViewList()">
    {{!viewListToggle ? 'Show Product List' : 'Hide Product List'}}
  </button>
  <hr>

  <ng-container *ngIf="viewListToggle">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Id</th>
          <th>Name</th>
          <th>Category</th>
          <th>Image</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
            <td>{{i+1}}</td>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td><img src="{{product.imgUrl}}" alt="{{product.name}}" height="100px"></td>
            <td>{{product.price | vndCurrency}}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>

</div>
